@charset "utf-8";
header {
    background-color: ghostwhite;
    padding: 15px;
    margin: 0px;
}
header nav {
    max-width: 90%;
    padding: 0 30px;
    margin: 0 auto;
}
header nav ul {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}
header nav li {
    list-style: none;
    background-color: mediumseagreen;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    margin: 0px 2px;
    width: 16%;
}
header nav li a {
    color: while;
    text-decoration-line: none;
}
.clearfix::after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
img {
    float: left;
    height: 55px;
}