/*ゲーム名一覧画面の設定*/
.ichiran {
    margin: 0px;
    background-color: ghostwhite;  /*背景*/
}
.ichiran h2 {
    text-align: center;
    padding: 0.4em;/*文字の上下 左右の余白*/
    margin: 0px;
    color: mediumseagreen;/*文字色*/
    background: white;/*背景色*/
    border-top: mediumseagreen;
    border-left: solid 5px mediumseagreen;/*左線*/
    border-right: solid 5px mediumseagreen;/*右線*/
    border-bottom: solid 2px #d7d7d7;/*下線*/
}
.ichiran table {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
.ichiran table th {
    color: white;
    background-color:navy;
    padding: 17px 100px 17px 100px;
    font-size: 22px;
}
.ichiran table td {
    padding: 15px 15px 15px 15px;
    font-weight: bold;
    font-size: 19px;
}